/* CSS Reset */
/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* prettier-ignore */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
/* prettier-ignore */
ol, ul {
  list-style: none;
}
/* prettier-ignore */
blockquote, q {
  quotes: none;
}
/* prettier-ignore */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS Custom Properties */
:root {
  --primary-color: #dd082e;
  --secondary-color--red: #ee1e45;
  --secondary-color--red-gradient--1: #a0092f;
  --secondary-color--red-gradient--2: #ffc3c6;
  --secondary-color--red-gradient--3: #701422;
  --secondary-color--blue: #27aaff;
  --secondary-color--blue-gradient--1: #0d6dad;
  --secondary-color--blue-gradient--2: #9bdefb;
  --secondary-color--yellow: #ffdd51;
  --secondary-color--yellow-gradient--1: #958414;
  --secondary-color--yellow-gradient--2: #fdfc91;
  --secondary-color--green: #3a9456;
  --secondary-color--green-gradient--1: #28662f;
  --secondary-color--green-gradient--2: #bff8cd;
  --secondary-color--grey: #d9d5de;
  --secondary-color--grey-gradient: #8a848a;

  --screen-color--dark: #242424;
  --text--light: #fff;

  /* Gradients */
  --linear-gradient--blue: linear-gradient(
    -40deg,
    var(--secondary-color--blue-gradient--1) 10%,
    var(--secondary-color--blue) 90%,
    var(--secondary-color--blue-gradient--2) 100%
  );

  /* Pokémon Types */
  --type--normal: #aaaa99;
  --type--fire: #bb5544;
  --type--water: #3399ff;
  --type--electric: #ffcc33;
  --type--grass: #78cc55;
  --type--ice: #66ccff;
  --type--fighting: #bb5544;
  --type--poison: #aa5599;
  --type--ground: #ddbb56;
  --type--flying: #8899ff;
  --type--psychic: #8899ff;
  --type--bug: #abbb23;
  --type--rock: #bcaa66;
  --type--ghost: #6666bc;
  --type--dragon: #7767ee;
  --type--dark: #765443;
  --type--steel: #aaaabb;
  --type--fairy: #ee9aee;
}

/* Custom Fonts */
@font-face {
  font-family: Gameboy;
  src: url('fonts/gameboy-font.ttf');
}

@font-face {
  font-family: Pokemon Solid;
  src: url('fonts/pokemon-font.ttf');
}

/* General Formatting */
html {
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background-color: var(--primary-color);
  font-family: Gameboy, sans-serif;
}

.container {
  margin: 1rem;
  height: 45rem;
}

/* Reusable Components */
.form {
  display: flex;
  justify-content: space-evenly;
}

.form label {
  margin-top: 0.7rem;
  font-size: 0.9rem;
}

.input {
  height: 1.75em;
  border-radius: 5px;
  font-family: Gameboy, sans-serif;
  text-transform: lowercase;
}

.input::placeholder {
  padding: 2rem 0.5rem;
  font-family: Gameboy, sans-serif;
  font-size: 0.75rem;
  text-transform: none;
  color: var(--secondary-color--grey-gradient);
}

.pokemon__id {
  background: radial-gradient(
    farthest-corner at 2.3rem 2rem,
    var(--secondary-color--red-gradient--1) 60%,
    var(--secondary-color--red) 80%,
    var(--secondary-color--red-gradient--2) 97%
  );
  color: var(--text--light);
  padding: 0.5rem 0.4rem 0.3rem;
  border: 1px solid var(--secondary-color--red-gradient--2);
  box-shadow: 0px 0px 8px 3px var(--secondary-color--red-gradient--3);
  align-content: center;
  font-size: 0.5rem;
}

.btn {
  font-family: Gameboy, sans-serif;
  font-size: 0.75rem;
  border-radius: 0.3rem;
  padding: 0.5rem 0.5rem 0.3rem;
  background: var(--btn-bg);
  color: var(--text--light);
}
/*  caught btn -- 0 0.5rem; */
.btn--red {
}

.btn--blue {
  --btn-bg: linear-gradient(
    -40deg,
    var(--secondary-color--blue-gradient--1) 10%,
    var(--secondary-color--blue) 90%,
    var(--secondary-color--blue-gradient--2) 100%
  );
  --btn-shadow: var(--secondary-color--blue-gradient--1);
  --btn-highlight: var(--secondary-color--blue-gradient--2);
}

.btn--green {
  --btn-bg: linear-gradient(
    -20deg,
    var(--secondary-color--green-gradient--1) 10%,
    var(--secondary-color--green) 80%,
    var(--secondary-color--green-gradient--2) 100%
  );
  --btn-shadow: var(--secondary-color--green-gradient--1);
  --btn-highlight: var(--secondary-color--green-gradient--2);
}

.btn--yellow {
  --btn-bg: linear-gradient(
    -40deg,
    var(--secondary-color--yellow-gradient--1) 10%,
    var(--secondary-color--yellow) 85%,
    var(--secondary-color--yellow-gradient--2) 100%
  );
  --btn-shadow: var(--secondary-color--yellow-gradient--1);
  --btn-highlight: var(--secondary-color--yellow-gradient--2);
}

.btn--grey {
}

.btn--sort {
}
.btn--active {
  font-weight: bold;
  background: var(--btn-highlight);
  color: var(--btn-shadow);
  box-shadow: 0px 0px 4px 2px inset var(--btn-shadow);
  cursor: pointer;
}

.btn--options {
}

/* Button States */
.menu__btn:hover,
.btn--active,
.search__btn:hover,
.panel__btn:hover,
.map__form--btn:hover,
.sort__dropdown:hover .map__entry--options,
.btn--red:hover,
.btn--blue:hover,
.btn--yellow:hover,
.btn--green:hover {
  background: var(--btn-highlight);
  box-shadow: 0px 0px 4px 2px inset var(--btn-shadow);
  color: var(--btn-shadow);
  font-weight: bold;
  cursor: pointer;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  border-image: 1px solid black;
  color: var(--text--light);
}

.header__logo {
  font-family: 'Pokemon Solid', sans-serif;
  font-size: 2rem;
  letter-spacing: 0.15rem;
  text-shadow: 3px 4px 2px var(--secondary-color--red-gradient--3);
}

.header__btn {
  margin-left: 0.6rem;
  padding: 0.5rem 1rem;
  border: none;
  box-shadow: 2px 3px 5px 3px var(--secondary-color--red-gradient--3);
  transition: background-color 0.1s, box-shadow 0.5s;
}

.header__btn:first-child {
  margin-left: none;
}

.header__btn--mobile {
  padding: 0.2rem 0.3rem 0 0.3rem;
}

/* Lights */
.lights {
  display: flex;
  margin-bottom: 0.5rem;
}

.lights__outer {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  background-image: radial-gradient(
    circle,
    var(--secondary-color--grey-gradient) 60%,
    var(--secondary-color--grey) 90%
  );
}

.lights__inner {
  box-sizing: border-box;
  width: 1.1rem;
  height: 1.1rem;
  margin-right: 0.5rem;
  border: 0.05rem solid var(--screen-color--dark);
  border-radius: 50%;
}

.lights__inner--blue {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.1rem;
  height: 2.1rem;
  transform: translate(-50%, -50%);
  border: 0.115rem solid var(--secondary-color--blue-gradient--1);
  background-image: radial-gradient(
    farthest-corner at 2.25rem 2.25rem,
    var(--secondary-color--blue-gradient--1) 28%,
    var(--secondary-color--blue) 70%,
    var(--secondary-color--blue-gradient--2) 85%
  );
  --lights-highlight: var(--secondary-color--blue-gradient--2);
}

.lights__inner--red {
  background-image: radial-gradient(
    farthest-corner at 2rem 2rem,
    var(--secondary-color--red-gradient--1) 60%,
    var(--secondary-color--red) 80%,
    var(--secondary-color--red-gradient--2) 97%
  );
  --lights-highlight: var(--secondary-color--red-gradient--2);
}

.lights__inner--yellow {
  background-image: radial-gradient(
    farthest-corner at 2rem 2rem,
    var(--secondary-color--yellow-gradient--1) 60%,
    var(--secondary-color--yellow) 80%,
    var(--secondary-color--yellow-gradient--2) 97%
  );
  --lights-highlight: var(--secondary-color--yellow-gradient--2);
}

.lights__inner--green {
  background-image: radial-gradient(
    farthest-corner at 2rem 2rem,
    var(--secondary-color--green-gradient--1) 60%,
    var(--secondary-color--green) 80%,
    var(--secondary-color--green-gradient--2) 97%
  );
  --lights-highlight: var(--secondary-color--green-gradient--2);
}

.lights__inner--active {
  border: 1px solid var(--lights-highlight);
}

/* Divider */
.divider {
  display: flex;
  position: relative;
  bottom: 1.5rem;
  opacity: 90%;
}

.divider__diagonal,
.divider__top {
  height: 2rem;
  transform: skew(-50deg);
}

.divider__diagonal {
  width: 10em;
  border-right: 5px solid var(--secondary-color--red-gradient--3);
  border-bottom: 3px solid var(--secondary-color--red-gradient--3);
}

.divider__top {
  width: 100%;
  border-top: 3px solid var(--secondary-color--red-gradient--3);
}

.divider__hinge {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 3%;
  height: 100%;
  left: 48.5%;
  background-color: var(--primary-color);
}

/* Screen */
.screen__border {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 85%;
  padding: 0.5rem 1.25rem;
  border-radius: 5px;
  background-color: var(--secondary-color--grey);
}

.screen__1,
.screen__2 {
  background-color: var(--screen-color--dark);
  box-shadow: 0px 4px 4px 3px var(--secondary-color--grey-gradient);
  height: 96%;
  border-radius: 10px;
  width: 47%;
  overflow: scroll;
}

.screen__1--search,
.screen__2--search,
.screen__1--map,
.screen__2--map,
.screen__1--profile,
.screen__2--profile {
  padding: 1.5rem;
  color: var(--text--light);
}

/* Search (Screen 1) */
.search__input {
  height: 1.75em;
  width: 48%;
  margin-right: 1.7rem;
  padding: 0.25rem 0.4rem;
}

/* Search (Screen 2) */
.search__preview--row {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0rem;
}

.search__preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 9.5rem;
  width: 7.75rem;
  padding: 1rem;
  margin: 0rem 1rem;
  border-radius: 5px;

  background-position: 20% 25%;
  background-repeat: no-repeat;
  background-size: 40%;
  background-color: var(--secondary-color--grey);
  background-image: url(imgs/pokeball.svg);
  background-blend-mode: soft-light;
}

.search__preview--id {
  align-self: flex-end;
}

.search__preview--name {
  padding: 0.6rem 0.6rem 0.4rem;
  margin-top: 0.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  border-radius: 3px;
  box-shadow: 1px 1px 2px 2px var(--screen-color--dark) inset;
  background-color: var(--secondary-color--grey-gradient);
  color: var(--text--light);
  text-shadow: 2px 2px 2px var(--secondary-color--grey-gradient);
}

.search__preview--active {
  background-color: var(--text--light);
  background-image: url(imgs/pokeball-red.svg);
  background-blend-mode: normal;
  box-shadow: 0px 0px 4px 3px var(--secondary-color--red-gradient--2);
}

.search__preview--active .search__preview--id {
  border: 1px solid var(--secondary-color--red-gradient--1);
  box-shadow: 0px 0px 3px 3px var(--secondary-color--red-gradient--2);
}

.search__preview--active .search__preview--name {
  background-color: var(--secondary-color--grey);
  box-shadow: 1px 1px 2px 2px var(--screen-color--dark);
  text-shadow: none;
  color: var(--screen-color--dark);
}

.search__preview--active .search__preview--img {
  animation: bounce 0.3s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.06, 1, 1);
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 0.275rem, 0);
  }
}

/* PERSPECTIVE -- Search (Screen 2) */

/* Pokemon Panel -- About */
.panel--about {
  display: flex;
}

.panel--about img {
  background-color: var(--text--light);
  box-shadow: 3px 3px 6px 4px var(--secondary-color--grey-gradient) inset;
  padding: 1rem;
  border-radius: 5px;
  width: 10rem;
  height: 10rem;
  margin-right: 1.5rem;
}

.panel--about__details {
  display: flex;
  flex-wrap: wrap;
}

.panel--about__details h2,
.map__header h2 {
  display: inline-block;
  font-weight: bolder;
  align-content: center;
  padding: 0.5rem 1rem 0.25rem 0rem;
  text-shadow: 3px 2px 4px var(--secondary-color--grey-gradient);
  font-size: 1.55rem;
}

.panel--about__details span {
  justify-content: flex-end;
  align-content: center;
  align-self: center;
  padding: 0.5rem 0.25rem 0.25rem;
  font-size: 0.7rem;
}

.panel--about__details--desc {
  box-sizing: border-box;
  background-color: var(--text--light);
  color: var(--screen-color--dark);
  box-shadow: 1px 1px 5px 3px var(--secondary-color--grey-gradient) inset;
  font-size: 0.75rem;
  min-height: 4rem;
  border-radius: 4px;
  padding: 0.5rem;
}

.panel--about__types {
  margin: 0.25rem 0 0.3rem;
}

.panel--about__types span,
.map__entry--types p {
  font-size: 0.5rem;
  font-weight: bolder;
  margin-right: 0.75rem;
  padding: 0.4rem 0.75rem 0.3rem;
  border-radius: 4px;
  background-color: none;
  box-shadow: 0px 0px 3px 2px var(--text--light);
}

.panel--about__measurements {
  display: flex;
  width: 100%;

  margin: 0.5rem 0 0.4rem;
  font-size: 0.9rem;
}

.panel--about__measurements p:first-child,
.panel--about__measurements p:last-child {
  flex-grow: 1;
  font-size: 0.6rem;
}

.panel__label {
  background-color: var(--text--light);
  color: var(--screen-color--dark);
  border-radius: 5px;
  padding: 0.25rem 0.25rem 0.15rem;
  box-shadow: 0px 1px 2px 2px var(--secondary-color--grey-gradient) inset;
}

.panel--abilities {
  display: flex;
  margin: 1.8rem 0 1.5rem;
}

/* Pokemon Panel -- Base Stats */
.panel--stats {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.panel--stats span {
  display: inline;
}

.panel--stats__display {
  display: flex;
  font-size: 0.85rem;
  margin-bottom: 0.9rem;
  align-items: center;
}

.panel--stats__display p {
  width: 4.5rem;
}

.panel--stats__display span {
  font-size: 0.6rem;
  margin-right: 1.5rem;
}

.panel--stats__display progress {
  width: 14rem;
  height: 0.5rem;
  background-color: green;
  border-radius: 2px;
  border: 1px solid rgb(20, 20, 20);
}

/* Pokemon Panel -- Moves */
.panel--moves {
  flex-grow: 1;
  margin-top: 0.5rem;
}

/* .panel--moves img,
.panel--stats img {
  width: 1em;
  margin-right: 0.75rem;
} */
.panel--moves h2,
.panel--stats h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 2px var(--secondary-color--grey);
}

.panel--moves p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.panel--moves span {
  margin-left: 1rem;
  padding: 0.5rem 0.5rem 0.25rem;
  border-radius: 3px;
  font-size: 0.75rem;
}

.panel--moves__known {
  background-color: var(--secondary-color--green);
  box-shadow: 0px 1px 3px 3px var(--secondary-color--green-gradient--1) inset;
}

.panel--moves__unknown {
  background-color: var(--secondary-color--grey-gradient);
  color: var(--text--light);
  letter-spacing: 0.15rem;
  box-shadow: 0px 0px 3px 1px var(--secondary-color--grey) inset;
}

/* Pokemon Panel -- Pagination Buttons */
.panel--pagination {
  display: flex;
  justify-content: space-between;
}

.panel--pagination button:first-child,
.panel--pagination button:last-child {
  --btn-bg: linear-gradient(
    -40deg,
    var(--secondary-color--blue-gradient--1) 10%,
    var(--secondary-color--blue) 90%,
    var(--secondary-color--blue-gradient--2) 100%
  );
  --btn-shadow: var(--secondary-color--blue-gradient--1);
  --btn-highlight: var(--secondary-color--blue-gradient--2);
}

.panel__btn--favorite {
  --btn-bg: linear-gradient(
    -40deg,
    var(--secondary-color--red-gradient--1) 10%,
    var(--secondary-color--red) 85%,
    var(--secondary-color--red-gradient--2) 100%
  );
  --btn-shadow: var(--secondary-color--red-gradient--1);
  --btn-highlight: var(--secondary-color--red-gradient--2);
}

.panel__btn--sighting {
  --btn-bg: linear-gradient(
    -20deg,
    var(--secondary-color--yellow-gradient--1) 2%,
    var(--secondary-color--yellow) 85%,
    var(--secondary-color--yellow-gradient--2) 100%
  );
  --btn-shadow: var(--secondary-color--yellow-gradient--1);
  --btn-highlight: var(--secondary-color--yellow-gradient--2);
}

/* PERSPECTIVE -- Map (Screen 1) */

/* Map Header */
.map__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.map__header h2 {
  padding: 0;
  font-size: 1.6rem;
}

.map__header p {
  font-size: 0.75rem;
  /* background-color: blue; */
}

.map__header span {
  position: relative;
  bottom: 9%;
  font-size: 0.5rem;
  margin-right: 0.6rem;
}

/* Map Button Group -- Add/Sort Entries */
.map__btn--group {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 1rem;
}

.map__btn--group label {
  align-content: center;
  font-size: 0.9rem;
  position: absolute;
  height: 100%;
  top: 5%;
  left: 52%;
}

.map__sort {
  justify-content: flex-end;
}

.map__btn--id {
  --btn-bg: linear-gradient(
    -20deg,
    var(--secondary-color--yellow-gradient--1) 20%,
    var(--secondary-color--yellow) 80%,
    var(--secondary-color--yellow-gradient--2) 97%
  );
  --btn-highlight: var(--secondary-color--yellow-gradient--2);
  --btn-shadow: var(--secondary-color--yellow-gradient--1);
}

.map__btn--name {
  --btn-bg: linear-gradient(
    -40deg,
    var(--secondary-color--blue-gradient--1) 10%,
    var(--secondary-color--blue) 90%,
    var(--secondary-color--blue-gradient--2) 100%
  );
  --btn-shadow: var(--secondary-color--blue-gradient--1);
  --btn-highlight: var(--secondary-color--blue-gradient--2);
}

.map__btn--add,
.map__form--btn {
  --btn-bg: linear-gradient(
    -20deg,
    var(--secondary-color--red-gradient--1) 2%,
    var(--secondary-color--red) 85%,
    var(--secondary-color--red-gradient--2) 100%
  );
  --btn-shadow: var(--secondary-color--red-gradient--1);
  --btn-highlight: var(--secondary-color--red-gradient--2);
}

.map__btn--date {
  --btn-bg: linear-gradient(
    -40deg,
    var(--secondary-color--green-gradient--1) 10%,
    var(--secondary-color--green) 85%,
    var(--secondary-color--green-gradient--2) 100%
  );
  --btn-shadow: var(--secondary-color--green-gradient--1);
  --btn-highlight: var(--secondary-color--green-gradient--2);
}

/* Map Entries */
.map__entry {
  display: flex;
  color: var(--screen-color--dark);
  margin-bottom: 1rem;
  background: linear-gradient(
    -40deg,
    var(--secondary-color--red-gradient--1) 10%,
    var(--secondary-color--red) 85%,
    var(--secondary-color--red-gradient--2) 100%
  );
  padding: 0.7rem;
  border-radius: 5px;
  /* overflow-x: hidden; */
}

.map__entry--details {
  display: flex;
  background-color: var(--text--light);
  border-radius: 3px;
  box-shadow: 2px 3px 6px 3px inset var(--screen-color--dark);
  padding: 1rem;
  flex-direction: column;
  width: 80%;
  position: relative;
}

.map__entry--header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.map__entry--name {
  margin-top: 0.2rem;
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 0.1rem;
}

.map__entry img {
  background-color: var(--text--light);
  margin-right: 1rem;
  border-radius: 3px;
  box-shadow: 2px 3px 6px 3px inset var(--screen-color--dark);
  padding: 0.25rem;
}

.map__entry--id {
  padding: 0.25rem 0.2rem 0.2rem;
  margin-left: 0.5rem;
  position: absolute;
}

.map__entry--options {
  background-color: var(--secondary-color--grey-gradient);
  border-radius: 2px;
  color: var(--text--light);
  padding: 0rem 0.1rem 0rem;
  position: relative;
  border-color: var(--screen-color--dark);
}

.sort__dropdown {
  position: relative;
  transition: hover 0.2s;
}

.sort__options {
  position: absolute;
  top: 100%;
  right: 1%;
  display: none;
  background-color: green;
  flex-direction: column;
}

.sort__options > button {
  font-size: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 7rem;
  line-height: 0.8rem;
  color: var(--screen-color--dark);
  border-radius: 0;
}

.sort__options--name {
  --btn-bg: var(--secondary-color--grey);
  --btn-shadow: var(--secondary-color--grey-gradient);
  --btn-highlight: var(--text--light);
}

.sort__options--id {
  --btn-bg: var(--secondary-color--red-gradient--1);
  --btn-shadow: var(--secondary-color--red-gradient--1);
  --btn-highlight: var(--secondary-color--red-gradient--2);
}

.sort__dropdown:hover .sort__options {
  display: block;
}

.map__entry--types {
  display: flex;
}

.map__entry--types p {
  background-color: green;
  padding: 0.3rem 0.3rem 0.2rem;
  margin-bottom: 1rem;
  color: var(--text--light);
}

.map__entry--timestamp {
  font-size: 0.7rem;
}

.map__entry--timestamp span {
  margin: 0rem 0.7rem;
  color: var(--primary-color);
  text-shadow: 1px 1px 1px var(--secondary-color--grey);
}

/* Adding a New Entry */
.map__entry--new {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    10deg,
    var(--secondary-color--grey) 10%,
    var(--secondary-color--grey-gradient) 100%
  );
}

.map__entry--form {
  display: flex;
  flex-direction: column;

  font-family: Gameboy, sans-serif;
}

.map__form--row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.map__form--row label {
  color: var(--text--light);
}

.map__form--input {
  padding: 0.2rem 0.4rem 0.1rem;
  width: 30%;
  margin-bottom: 0.4rem;
  font-size: 0.7rem;
}

.map__form--input:focus {
  box-shadow: 1px 1px 2px 1px inset var(--screen-color--dark);
  outline: none;
}
.map__form--row {
  margin-right: 0.25rem;
}

.map__form--row label[for='ID'] {
  margin-right: 1.95rem;
}

.map__form--btn {
  padding: 0.5rem 0rem 0.3rem;
}

/* PERSPECTIVE -- Map (Screen 2) */

/* PERSPECTIVE -- Profile (Screen 1) */

.favorites__about img {
  width: 7rem;
  height: 7rem;
  margin-bottom: 2rem;
}

.favorites__labels {
  display: flex;
  width: 100%;
  font-size: 0.6rem;
  margin: 1rem 0 1rem;
}

.favorites__label {
  margin-left: 1rem;
}

.favorites--about__details {
  margin-bottom: 2rem;
}

/* Profile Stats */

.wrapper--profile__stats {
  display: flex;
  margin-top: 0.5rem;
}

.profile--stats__display {
  display: flex;

  margin-bottom: 1.25rem;
  justify-content: space-around;
}

.profile__types {
  font-size: 0.5rem;
  font-weight: bolder;
  /* margin-right: 0.75rem; */
  border-radius: 4px;
  box-shadow: 0px 0px 3px 2px var(--text--light);
  background-color: green;
  padding: 0.3rem 0.3rem 0.2rem;
  color: var(--text--light);
  width: 4rem;
  text-align: center;
}

.profile__label {
  font-size: 0.5rem;
}
.profile--stats__display progress {
  width: 9rem;
  height: 0.55rem;
  position: relative;
  top: 20%;
  right: 2%;
  background-color: green;
  border-radius: 2px;
  border: 1px solid rgb(20, 20, 20);
}

/* PERSPECTIVE -- Profile (Screen 2) */
.favorites__btns {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.favorites__btn {
  width: 45%;
  padding: 0.5rem 0.5rem 0.3rem;
}

.favorites__btn--caught {
  --btn-bg: linear-gradient(
    -20deg,
    var(--secondary-color--yellow-gradient--1) 2%,
    var(--secondary-color--yellow) 85%,
    var(--secondary-color--yellow-gradient--2) 100%
  );
  --btn-shadow: var(--secondary-color--yellow-gradient--1);
  --btn-highlight: var(--secondary-color--yellow-gradient--2);
}

.favorites__btn--favorites {
  --btn-bg: linear-gradient(
    -20deg,
    var(--secondary-color--green-gradient--1) 2%,
    var(--secondary-color--green) 85%,
    var(--secondary-color--green-gradient--2) 100%
  );
  --btn-shadow: var(--secondary-color--green-gradient--1);
  --btn-highlight: var(--secondary-color--green-gradient--2);
}

/* Utility Classes */
.hidden {
  display: none;
}

/* Media Queries -- for Tablets, Mobile Devices */

@media (max-width: 992px) {
  .screen {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .screen {
    width: 95%;
  }
}
