/* CSS Reset */
/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* prettier-ignore */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
/* prettier-ignore */
ol, ul {
  list-style: none;
}
/* prettier-ignore */
blockquote, q {
  quotes: none;
}
/* prettier-ignore */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS Custom Properties */
:root {
  --primary-color: #dd082e;
  --secondary-color--red: #ee1e45;
  --secondary-color--red-gradient--1: #a0092f;
  --secondary-color--red-gradient--2: #ffc3c6;
  --secondary-color--red-gradient--3: #701422;
  --secondary-color--blue: #27aaff;
  --secondary-color--blue-gradient--1: #0d6dad;
  --secondary-color--blue-gradient--2: #9bdefb;
  --secondary-color--yellow: #ffdd51;
  --secondary-color--yellow-gradient--1: #958414;
  --secondary-color--yellow-gradient--2: #fdfc91;
  --secondary-color--green: #3a9456;
  --secondary-color--green-gradient--1: #28662f;
  --secondary-color--green-gradient--2: #bff8cd;
  --secondary-color--grey: #d9d5de;
  --secondary-color--grey-gradient: #8a848a;

  --screen-color--dark: #242424;
  --text--light: #fff;
}

@font-face {
  font-family: Gameboy;
  src: url("Gameboy-Font.ttf");
}

/* Formatting */
html {
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background-repeat: no-repeat;
  background-color: var(--primary-color);
}

.container {
  margin: 1rem;
  height: 93vh;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  border-image: 1px solid black;
}

.hidden {
  display: none;
}
/* Styling -- Header */
.logo {
  font-family: "Pokemon Solid", sans-serif;
  font-size: 2rem;
  color: var(--text--light);
  letter-spacing: 0.15rem;
  text-shadow: 3px 4px 2px var(--secondary-color--red-gradient--3);
}

/* Menu Buttons */
.btn {
  font-family: Gameboy, sans-serif;
  border-radius: 0.3rem;
  background: var(--btn-bg);
  color: var(--text--light);
  transition: background-color 0.2s, box-shadow 0.2s;
}

.menu__btn {
  padding: 0.5rem 1rem;
  margin-left: 0.6rem;
  border: none;
  box-shadow: 2px 3px 5px 3px var(--secondary-color--red-gradient--3);
}

.menu__btn:first-child {
  margin-left: none;
}

/* Desktop Menu Buttons */
.menu__btn--search {
  --btn-bg: linear-gradient(
    -40deg,
    var(--secondary-color--blue-gradient--1) 10%,
    var(--secondary-color--blue) 90%,
    var(--secondary-color--blue-gradient--2) 100%
  );
  --btn-shadow: var(--secondary-color--blue-gradient--1);
  --btn-highlight: var(--secondary-color--blue-gradient--2);
}

.menu__btn--map {
  --btn-bg: linear-gradient(
    -40deg,
    var(--secondary-color--yellow-gradient--1) 10%,
    var(--secondary-color--yellow) 85%,
    var(--secondary-color--yellow-gradient--2) 100%
  );
  --btn-shadow: var(--secondary-color--yellow-gradient--1);
  --btn-highlight: var(--secondary-color--yellow-gradient--2);
}

.menu__btn--profile {
  --btn-bg: linear-gradient(
    -20deg,
    var(--secondary-color--green-gradient--1) 10%,
    var(--secondary-color--green) 80%,
    var(--secondary-color--green-gradient--2) 100%
  );
  --btn-shadow: var(--secondary-color--green-gradient--1);
  --btn-highlight: var(--secondary-color--green-gradient--2);
}

/* Button States */
.menu__btn:hover,
.menu__btn--active,
.search__btn:hover {
  background: var(--btn-highlight);
  box-shadow: 0px 0px 3px 1.5px var(--btn-shadow);
  color: var(--btn-shadow);
  font-weight: bold;
  cursor: pointer;
}

/* Mobile Menu Button */
.menu--mobile__btn {
  --btn-bg: var(--secondary-color--blue);
  --btn-shadow: var(--secondary-color--blue-gradient--1);
  --btn-highlight: var(--secondary-color--blue-gradient--2);
  padding: 0.2rem 0.3rem 0 0.3rem;
}

/* Lights */
.lights {
  display: flex;
  margin-bottom: 0.5rem;
}

.light__outer {
  position: relative;
  margin-right: 0.5rem;
  border-radius: 50%;
  background-image: radial-gradient(
    circle,
    var(--secondary-color--grey-gradient) 60%,
    var(--secondary-color--grey) 90%
  );
  width: 2.5rem;
  height: 2.5rem;
}

.light__inner {
  width: 1.1rem;
  height: 1.1rem;
  border: 0.05rem solid var(--screen-color--dark);
  border-radius: 50%;
  margin-right: 0.5rem;
  box-sizing: border-box;
}

.light--blue {
  position: absolute;
  width: 2.1rem;
  height: 2.1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.115rem solid var(--secondary-color--blue-gradient--1);
  background-image: radial-gradient(
    farthest-corner at 2.25rem 2.25rem,
    var(--secondary-color--blue-gradient--1) 28%,
    var(--secondary-color--blue) 70%,
    var(--secondary-color--blue-gradient--2) 85%
  );
  --btn-highlight: var(--secondary-color--blue-gradient--2);
}

.light--red {
  background-image: radial-gradient(
    farthest-corner at 2rem 2rem,
    var(--secondary-color--red-gradient--1) 60%,
    var(--secondary-color--red) 80%,
    var(--secondary-color--red-gradient--2) 97%
  );
  --btn-highlight: var(--secondary-color--red-gradient--2);
}

.light--yellow {
  background-image: radial-gradient(
    farthest-corner at 2rem 2rem,
    var(--secondary-color--yellow-gradient--1) 60%,
    var(--secondary-color--yellow) 80%,
    var(--secondary-color--yellow-gradient--2) 97%
  );
  --btn-highlight: var(--secondary-color--yellow-gradient--2);
}

.light--green {
  background-image: radial-gradient(
    farthest-corner at 2rem 2rem,
    var(--secondary-color--green-gradient--1) 60%,
    var(--secondary-color--green) 80%,
    var(--secondary-color--green-gradient--2) 97%
  );
  --btn-highlight: var(--secondary-color--green-gradient--2);
}

.light--active {
  border: 1px solid var(--btn-highlight);
}

/* Frame */
.divider {
  display: flex;
  position: relative;
  bottom: 1.5rem;
  opacity: 90%;
}

.divider--diagonal {
  width: 10em;
  height: 2rem;
  transform: skew(-50deg);
  border-right: 5px solid var(--secondary-color--red-gradient--3);
  border-bottom: 3px solid var(--secondary-color--red-gradient--3);
}

.divider--top {
  width: 100%;
  height: 2rem;
  transform: skew(-50deg);
  border-top: 3px solid var(--secondary-color--red-gradient--3);
}

.hinge {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 3%;
  height: 100%;
  left: 48.5%;
  background-color: var(--primary-color);
}

/* Screen */
.screen__border {
  display: flex;
  position: relative;
  background-color: var(--secondary-color--grey);
  border-radius: 5px;
  width: 100%;
  height: 85%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0.5rem 1.25rem;
}

.screen--1,
.screen--2 {
  background-color: var(--screen-color--dark);
  box-shadow: 3px 3px 4px 3px var(--secondary-color--grey-gradient);
  height: 96%;
  border-radius: 10px;
  width: 47%;
  overflow: scroll;
}

/* PERSPECTIVE -- Search */
.search__form {
  display: flex;
  padding: 1rem 0rem;
  justify-content: space-evenly;
}

/* Search Form */
.search__input {
  font-family: Gameboy;
  position: relative;
  padding: 0.25rem 0.4rem;
  left: 1.1rem;
  height: 1.75em;
  width: 50%;
  border-radius: 5px;
  text-transform: lowercase;
}

.search__input::placeholder {
  font-size: 0.75rem;
  color: var(--secondary-color--grey-gradient);
  padding: 2rem 0.5rem;
  text-transform: none;
}

.search__btn {
  padding: 0 0.5rem;
  font-size: 0.75rem;
}

.search__btn--sort {
  --btn-bg: linear-gradient(
    -40deg,
    var(--secondary-color--blue-gradient--1) 10%,
    var(--secondary-color--blue) 90%,
    var(--secondary-color--blue-gradient--2) 100%
  );
  --btn-shadow: var(--secondary-color--blue-gradient--1);
  --btn-highlight: var(--secondary-color--blue-gradient--2);
  position: relative;
  left: 1rem;
}

.search__btn--arrow {
  --btn-bg: linear-gradient(
    -40deg,
    var(--secondary-color--yellow-gradient--1) 10%,
    var(--secondary-color--yellow) 85%,
    var(--secondary-color--yellow-gradient--2) 100%
  );
  --btn-shadow: var(--secondary-color--yellow-gradient--1);
  --btn-highlight: var(--secondary-color--yellow-gradient--2);
}

.search__btn--arrow:last-child {
  --btn-bg: linear-gradient(
    -20deg,
    var(--secondary-color--green-gradient--1) 10%,
    var(--secondary-color--green) 80%,
    var(--secondary-color--green-gradient--2) 100%
  );
  --btn-shadow: var(--secondary-color--green-gradient--1);
  --btn-highlight: var(--secondary-color--green-gradient--2);
  position: relative;
  right: 1rem;
}

/* Pokemon Search Panel Results */
.row--panel--search {
  display: flex;
  padding: 1rem 0.5rem;
  justify-content: space-evenly;
}

.panel--search {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color--grey);
  border-radius: 5px;
  height: 7.75rem;
  width: 7.75rem;
  padding: 1rem;
  /* align-items: center; */
}

/* Media Queries -- for Tablets, Mobile Devices */

@media (max-width: 992px) {
  .screen {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .screen {
    width: 95%;
  }
}
